<% row_class = dimension > 0 && @dimensions[dimension - 1]&.[](:row_class)&.call(result[:value]) %>
<% if new_row -%>
  <tr class="<%= cycle("odd", "even", :name => "dim#{dimension}") %>">
    <% ((dimension + 1)..(@dimensions.size)).each { |i| cycle("odd", "even", :name => "dim#{i}") if current_cycle("dim#{i}") != current_cycle("dim#{dimension}") } -%>
<% end -%>
<% if dimension > 0 %>
  <td valign="top" rowspan="<%= result[:nodes] %>">
    <%= link_to value_label(dimension - 1, result[:value]), @search.drill_down(@dimensions, *[headers[1..-1], result].flatten.map { |h| h[:value] }).url_options %>
  </td>
<% end %>
<% if with_results %>
  <td align="right">
    <%= result[:count] %>
    <% if parent_result && @search.percent %>
      (<%= 100 * result[:count] / parent_result[:count] %>%)
    <% end %>
  </td>
  <% controller.c_summary_fields.each do |summary_field| %>
    <td class="<%=row_class%>" align="right">
      <%= result[summary_field] %>
      <% if @search.percent && parent_result && parent_result[summary_field] > 0 %>
        (<%= 100 * result[summary_field] / parent_result[summary_field] %>%)
      <% end %>
    </td>
  <% end %>
  </tr>
<% end %>
