<% @page_title = "#{caption} #{subcaption}" %>
<%= javascript_include_tag 'chartkick' %>
<%= stylesheet_link_tag 'simple_drilldown/application' %>
<style type="text/css">
    table#drill_down_layout > tbody > tr > td {
        border: none;
        font-size: 13px
    }

    table#drill_down_layout td {
        padding: 2px;
        line-height: 18px
    }
</style>

<%= form_for @search, html: { id: 'edit_search_SEARCH', method: :get, class: :search, style: 'background: inherit', onsubmit: 'return this.submit()' }, url: {} do |form| %>
    <div class="row">
      <div class="col-md-3" valign="top">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a id="filter-tab" class="nav-link active" data-target="#filter" data-toggle="tab"><%= t :filter %></a></li>
          <li><a id="fields-tab" class="nav-link" data-target="#fields" data-toggle="tab"><%= t :fields %></a>
          </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane active" id="filter">
            <%= render '/drilldown/tab_buttons', form: form %>
            <%= render '/drilldown/filter', form: form  %>
          </div>
          <div class="tab-pane" id="fields">
            <%= render '/drilldown/tab_buttons', form: form %>
            <%= render '/drilldown/fields', form: form %>
          </div>
        </div>

      </div>
      <div class="col-md-9">
        <div class="row" valign="top">
          <div class="col-md-12">
            <%= render '/drilldown/chart', form: form %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12" valign="top">
            <div style="float: right; clear: both;">
              <%= render '/drilldown/export_links' %>
            </div>
            <%= render '/drilldown/summary_table' %>
          </div>
        </div>
      </div>
    </div>

<% end %> <!-- END  FORM -->

<%= javascript_tag do %>
  form = document.getElementById("edit_search_SEARCH");
  form.submit = function() {
    let elements = form.elements;
    let params = [];
    for (let el, i = 0; (el = elements[i] ); i++) {
      if (el.name === '' || (el.type === "text" && el.value === "")) {
        continue;
      }
      if (el.type === "select-multiple") {
        if (el.selectedIndex > 0) {
          for (var j = 0; j < el.options.length; j++) {
            // Ignore "All" and unselected options
            if (el.options[j].selected) {
              params.push("" + el.name + "=" + encodeURIComponent(el.options[j].value));
            }
          }
        }
        continue;
      }
      if (el.type === "select-one" && el.selectedIndex === 0) {
        continue;
      }
      if (el.type === "checkbox" && el.checked !== true) {
        continue;
      }
      if (el.type === "radio" && (el.checked !== true || el.value === 'NONE')) {
        continue;
      }
      if (el.type === "hidden" && (el.value === "0" || el.value === "")) {
        continue;
      }
      if (el.type === "submit") {
        continue;
      }
      params.push("" + el.name + "=" + encodeURIComponent(el.value));
    }
    location = form.action + "?" + params.join('&');
    return false;
  };
<% end %>
